httplib2
Chameleon==2.14
Mako==0.9.0
MarkupSafe==0.18
Paste==1.7.5.1
PasteDeploy==1.5.0
Pygments==1.6
RelStorage==1.5.1
WebOb==1.2.3
ZConfig==3.0.3
ZODB3==3.10.5
argparse==1.2.1
mock==1.0.1
psycopg2==2.5.1
pyramid==1.4.5
pyramid-debugtoolbar==1.0.9
pyramid-mako==0.3.1
pyramid-tm==0.7
pyramid-zodbconn==0.4
repoze.lru==0.6
transaction==1.4.1
translationstring==1.1
venusian==1.0a8
waitress==0.8.8
wsgiref==0.1.2
zc.lockfile==1.1.0
zdaemon==4.0.0
zodburi==1.1
zope.deprecation==4.0.2
zope.event==4.0.2
zope.interface==4.0.5
